In [1]:
import pandas as pd

Q1. Load your dataset into python using the pandas library and save data into a dataframe named dfi (where i is one of your datasets, for a total of 4).
Q2. Preview your data by calling your dataframe’s name. How many columns and rows do you see?
Q3. Examine the shape of your data using the .shape command and the data types of your columns using .dtypes.
Q4. Use .describe() on your data. What do you notice about your data? What does this command return?
Q5. Use the .head() and .tail() command - what does this do?

In [9]:
df1 = pd.read_csv('https://raw.githubusercontent.com/data602sps/datasetspractice/main/GOOG.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data602sps/datasetspractice/main/nba.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/jforster19/Data602/main/Kaggle_FIFA_WC_1930-2022%20All%20Match%20Dataset.csv')
df4 = pd.read_csv('https://raw.githubusercontent.com/jforster19/Data602/main/airports_w_headers.csv')

Q2 for Df1: there are 7 columns (all in this case) and a subset of the number of rows visible (60 out of 1258 total)

In [10]:
df1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-06-24,562.099304,569.514526,557.942139,561.532410,561.532410,2213200
1,2014-06-25,562.168884,576.788513,562.129089,575.485657,575.485657,1974700
2,2014-06-26,577.822815,579.264893,568.722839,572.850159,572.850159,1746700
3,2014-06-27,574.023682,576.698975,570.662170,574.083374,574.083374,2243000
4,2014-06-30,575.495605,576.400635,571.606995,572.134094,572.134094,1317300
5,2014-07-01,575.157471,581.204224,573.496582,579.483704,579.483704,1451900
6,2014-07-02,580.159973,582.238525,577.216125,579.150513,579.150513,1059200
7,2014-07-03,580.159973,581.810913,577.743286,581.532410,581.532410,716100
8,2014-07-07,580.567749,583.223145,576.420532,579.065979,579.065979,1067500
9,2014-07-08,574.501099,576.358887,563.039124,567.967041,567.967041,1914700
10,2014-07-09,568.454346,573.566223,566.262390,572.929749,572.929749,1119800
11,2014-07-10,562.815369,573.436951,561.920288,567.976929,567.976929,1360400
12,2014-07-11,568.782532,577.673645,568.295227,576.012756,576.012756,1626200
13,2014-07-14,579.414063,582.009827,574.869080,581.671631,581.671631,1859100
14,2014-07-15,582.536926,582.601563,573.407104,581.582153,581.582153,1627500
15,2014-07-16,584.784546,585.182373,579.016235,579.473755,579.473755,1400900
16,2014-07-17,576.360840,577.812866,565.500549,570.592590,570.592590,3024800
17,2014-07-18,589.757202,593.536438,578.817322,591.825806,591.825806,4025100
18,2014-07-21,588.514038,591.149536,582.032654,586.246521,586.246521,2067800
19,2014-07-22,587.489685,596.370850,587.370300,591.487671,591.487671,1703800
20,2014-07-23,589.985962,594.580688,589.259949,592.720886,592.720886,1236500
21,2014-07-24,593.188354,596.221680,588.533936,590.105286,590.105286,1037900
22,2014-07-25,587.171387,588.623413,583.819824,585.798950,585.798950,935000
23,2014-07-28,584.854187,589.259949,581.555298,587.370300,587.370300,989500
24,2014-07-29,585.530457,586.475220,580.324097,582.407593,582.407593,1353500
25,2014-07-30,583.342468,586.276367,580.806396,584.207703,584.207703,1019200
26,2014-07-31,577.424988,580.458313,566.882996,568.474243,568.474243,2108500
27,2014-08-01,567.280762,572.810364,559.772095,562.974487,562.974487,1960600
28,2014-08-04,565.928223,572.203735,561.015259,570.015747,570.015747,1431200
29,2014-08-05,566.932678,568.852173,559.533386,561.979919,561.979919,1555500
...,...,...,...,...,...,...,...
1228,2019-05-10,1163.589966,1172.599976,1142.500000,1164.270020,1164.270020,1314500
1229,2019-05-13,1141.959961,1147.939941,1122.109985,1132.030029,1132.030029,1860600
1230,2019-05-14,1137.209961,1140.420044,1119.550049,1120.439941,1120.439941,1836600
1231,2019-05-15,1117.869995,1171.329956,1116.666016,1164.209961,1164.209961,2289300
1232,2019-05-16,1164.510010,1188.160034,1162.839966,1178.979980,1178.979980,1531400
1233,2019-05-17,1168.469971,1180.150024,1160.010010,1162.300049,1162.300049,1208600
1234,2019-05-20,1144.500000,1146.796997,1131.442993,1138.849976,1138.849976,1353300
1235,2019-05-21,1148.489990,1152.708008,1137.939941,1149.630005,1149.630005,1159800
1236,2019-05-22,1146.750000,1158.520020,1145.890015,1151.420044,1151.420044,914500
1237,2019-05-23,1140.500000,1145.973022,1129.223999,1140.770020,1140.770020,1198900
1238,2019-05-24,1147.359985,1149.765015,1131.660034,1133.469971,1133.469971,1112000
1239,2019-05-28,1134.000000,1151.587036,1133.119995,1134.150024,1134.150024,1365000
1240,2019-05-29,1127.520020,1129.099976,1108.219971,1116.459961,1116.459961,1538200
1241,2019-05-30,1115.540039,1123.130005,1112.119995,1117.949951,1117.949951,951900
1242,2019-05-31,1101.290039,1109.599976,1100.180054,1103.630005,1103.630005,1507800
1243,2019-06-03,1065.500000,1065.500000,1025.000000,1036.229980,1036.229980,5130600
1244,2019-06-04,1042.900024,1056.050049,1033.689941,1053.050049,1053.050049,2833500
1245,2019-06-05,1051.540039,1053.550049,1030.489990,1042.219971,1042.219971,2168400
1246,2019-06-06,1044.989990,1047.489990,1033.699951,1044.339966,1044.339966,1703200
1247,2019-06-07,1050.630005,1070.920044,1048.400024,1066.040039,1066.040039,1802400
1248,2019-06-10,1072.979980,1092.660034,1072.322021,1080.380005,1080.380005,1464200
1249,2019-06-11,1093.979980,1101.989990,1077.603027,1078.719971,1078.719971,1436700
1250,2019-06-12,1078.000000,1080.930054,1067.540039,1077.030029,1077.030029,1061000
1251,2019-06-13,1083.640015,1094.170044,1080.150024,1088.770020,1088.770020,1057700
1252,2019-06-14,1086.420044,1092.689941,1080.171997,1085.349976,1085.349976,1111500
1253,2019-06-17,1086.280029,1099.180054,1086.280029,1092.500000,1092.500000,941600
1254,2019-06-18,1109.689941,1116.390015,1098.989990,1103.599976,1103.599976,1386700
1255,2019-06-19,1105.599976,1107.000000,1093.479980,1102.329956,1102.329956,1338800
1256,2019-06-20,1119.989990,1120.119995,1104.739990,1111.420044,1111.420044,1262000
1257,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1121.880005,1930100

In [11]:
print(df1.shape) # aligns with preview from above
df1.dtypes #

(1258, 7)

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [13]:
df1.describe()
#provides summary statistics for all of the numeric fields and similar to a boxplot 
#Observations: it appears the open/close was very similar at a high level aside from max values

,Open,High,Low,Close,Adj Close,Volume
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03
mean,842.065785,849.196733,834.607101,842.175733,842.175733,1.750196e+06
std,224.688021,227.042283,222.565409,224.969453,224.969453,8.586929e+05
min,491.942810,493.261566,484.891632,489.854309,489.854309,5.272000e+05
25%,645.425003,650.681763,637.150024,643.905029,643.905029,1.243325e+06
50%,795.364990,801.023010,790.855011,795.359985,795.359985,1.531050e+06
75%,1051.584992,1064.093719,1040.893494,1052.059967,1052.059967,1.995025e+06
max,1274.000000,1289.270020,1266.295044,1287.579956,1287.579956,1.116490e+07

In [14]:
df1.head()
# 5 row printout from first 5 rows

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-06-24,562.099304,569.514526,557.942139,561.532410,561.532410,2213200
1,2014-06-25,562.168884,576.788513,562.129089,575.485657,575.485657,1974700
2,2014-06-26,577.822815,579.264893,568.722839,572.850159,572.850159,1746700
3,2014-06-27,574.023682,576.698975,570.662170,574.083374,574.083374,2243000
4,2014-06-30,575.495605,576.400635,571.606995,572.134094,572.134094,1317300

In [15]:
df1.tail()
# 5 row printout from the last 5 rows

,Date,Open,High,Low,Close,Adj Close,Volume
1253,2019-06-17,1086.280029,1099.180054,1086.280029,1092.500000,1092.500000,941600
1254,2019-06-18,1109.689941,1116.390015,1098.989990,1103.599976,1103.599976,1386700
1255,2019-06-19,1105.599976,1107.000000,1093.479980,1102.329956,1102.329956,1338800
1256,2019-06-20,1119.989990,1120.119995,1104.739990,1111.420044,1111.420044,1262000
1257,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1121.880005,1930100

Q2 for Df2: there are 9 columns (all in this case) and a subset of the number of rows visible (60 out of 458 total)

In [16]:
df2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(df2.shape)
df2.dtypes

(458, 9)

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [18]:
df2.describe()
#reviewing player summary statistics for numeric fields
#Observations: Surprised there are 40 year olds in this file for NBA players and I wonder if the salary data is parabolic with age

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [22]:
df2.head() # first 5 rows

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [23]:
df2.tail() # last 5 rows

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df3
#Q2 for Df3: there are 20 (out of 37 total) columns and a subset of the number of rows visible (60 out of 964 total)

,Key Id,Tournament Id,tournament Name,Match Id,Match Name,Stage Name,Group Name,Group Stage,Knockout Stage,Replayed,...,Away Team Score Margin,Extra Time,Penalty Shootout,Score Penalties,Home Team Score Penalties,Away Team Score Penalties,Result,Home Team Win,Away Team Win,Draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
5,6,WC-1930,1930 FIFA World Cup,M-1930-06,Chile v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
6,7,WC-1930,1930 FIFA World Cup,M-1930-07,Yugoslavia v Bolivia,group stage,Group 2,1,0,0,...,-4,0,0,0-0,0,0,home team win,1,0,0
7,8,WC-1930,1930 FIFA World Cup,M-1930-08,United States v Paraguay,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
8,9,WC-1930,1930 FIFA World Cup,M-1930-09,Uruguay v Peru,group stage,Group 3,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
9,10,WC-1930,1930 FIFA World Cup,M-1930-10,Chile v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
10,11,WC-1930,1930 FIFA World Cup,M-1930-11,Argentina v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
11,12,WC-1930,1930 FIFA World Cup,M-1930-12,Brazil v Bolivia,group stage,Group 2,1,0,0,...,-4,0,0,0-0,0,0,home team win,1,0,0
12,13,WC-1930,1930 FIFA World Cup,M-1930-13,Paraguay v Belgium,group stage,Group 4,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
13,14,WC-1930,1930 FIFA World Cup,M-1930-14,Uruguay v Romania,group stage,Group 3,1,0,0,...,-4,0,0,0-0,0,0,home team win,1,0,0
14,15,WC-1930,1930 FIFA World Cup,M-1930-15,Argentina v Chile,group stage,Group 1,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
15,16,WC-1930,1930 FIFA World Cup,M-1930-16,Argentina v United States,semi-finals,not applicable,0,1,0,...,-5,0,0,0-0,0,0,home team win,1,0,0
16,17,WC-1930,1930 FIFA World Cup,M-1930-17,Uruguay v Yugoslavia,semi-finals,not applicable,0,1,0,...,-5,0,0,0-0,0,0,home team win,1,0,0
17,18,WC-1930,1930 FIFA World Cup,M-1930-18,Uruguay v Argentina,final,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
18,19,WC-1934,1934 FIFA World Cup,M-1934-01,Austria v France,round of 16,not applicable,0,1,0,...,-1,1,0,0-0,0,0,home team win,1,0,0
19,20,WC-1934,1934 FIFA World Cup,M-1934-02,Czechoslovakia v Romania,round of 16,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
20,21,WC-1934,1934 FIFA World Cup,M-1934-03,Germany v Belgium,round of 16,not applicable,0,1,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
21,22,WC-1934,1934 FIFA World Cup,M-1934-04,Hungary v Egypt,round of 16,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
22,23,WC-1934,1934 FIFA World Cup,M-1934-05,Italy v United States,round of 16,not applicable,0,1,0,...,-6,0,0,0-0,0,0,home team win,1,0,0
23,24,WC-1934,1934 FIFA World Cup,M-1934-06,Spain v Brazil,round of 16,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
24,25,WC-1934,1934 FIFA World Cup,M-1934-07,Sweden v Argentina,round of 16,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
25,26,WC-1934,1934 FIFA World Cup,M-1934-08,Switzerland v Netherlands,round of 16,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
26,27,WC-1934,1934 FIFA World Cup,M-1934-09,Austria v Hungary,quarter-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
27,28,WC-1934,1934 FIFA World Cup,M-1934-10,Czechoslovakia v Switzerland,quarter-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
28,29,WC-1934,1934 FIFA World Cup,M-1934-11,Germany v Sweden,quarter-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
29,30,WC-1934,1934 FIFA World Cup,M-1934-12,Italy v Spain,quarter-finals,not applicable,0,1,1,...,0,1,0,0-0,0,0,draw,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,935,WC-2022,2022 FIFA World Cup,M-2022-35,Iran v United States,group stage,Group B,1,0,0,...,1,0,0,0-0,0,0,away team win,0,1,0
935,936,WC-2022,2022 FIFA World Cup,M-2022-36,Wales v England,group stage,Group B,1,0,0,...,3,0,0,0-0,0,0,away team win,0,1,0
936,937,WC-2022,2022 FIFA World Cup,M-2022-37,Australia v Denmark,group stage,Group D,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
937,938,WC-2022,2022 FIFA World Cup,M-2022-38,Tunisia v France,group stage,Group D,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
938,939,WC-2022,2022 FIFA World Cup,M-2022-39,Poland v Argentina,group stage,Group C,1,0,0,...,2,0,0,0-0,0,0,away team win,0,1,0
939,940,WC-2022,2022 FIFA World Cup,M-2022-40,Saudi Arabia v Mexico,group stage,Group C,1,0,0,...,1,0,0,0-0,0,0,away team win,0,1,0
940,941,WC-2022,2022 FIFA World Cup,M-2022-41,Canada v Morocco,group stage,Group F,1,0,0,...,1,0,0,0-0,0,0,away team win,0,1,0
941,942,WC-2022,2022 FIFA World Cup,M-2022-42,Croatia v Belgium,group stage,Group F,1,0,0,...,0,0,0,0-0,0,0,draw,0,0,1
942,943,WC-2022,2022 FIFA World Cup,M-2022-43,Costa Rica v Germany,group stage,Group E,1,0,0,...,2,0,0,0-0,0,0,away team win,0,1,0
943,944,WC-2022,2022 FIFA World Cup,M-2022-44,Japan v Spain,group stage,Group E,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
944,945,WC-2022,2022 FIFA World Cup,M-2022-45,Ghana v Uruguay,group stage,Group H,1,0,0,...,2,0,0,0-0,0,0,away team win,0,1,0
945,946,WC-2022,2022 FIFA World Cup,M-2022-46,South Korea v Portugal,group stage,Group H,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
946,947,WC-2022,2022 FIFA World Cup,M-2022-47,Cameroon v Brazil,group stage,Group G,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
947,948,WC-2022,2022 FIFA World Cup,M-2022-48,Serbia v Switzerland,group stage,Group G,1,0,0,...,1,0,0,0-0,0,0,away team win,0,1,0
948,949,WC-2022,2022 FIFA World Cup,M-2022-49,Netherlands v United States,round of 16,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
949,950,WC-2022,2022 FIFA World Cup,M-2022-50,Argentina v Australia,round of 16,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
950,951,WC-2022,2022 FIFA World Cup,M-2022-51,France v Poland,round of 16,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
951,952,WC-2022,2022 FIFA World Cup,M-2022-52,England v Senegal,round of 16,not applicable,0,1,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
952,953,WC-2022,2022 FIFA World Cup,M-2022-53,Japan v Croatia,round of 16,not applicable,0,1,0,...,0,1,1,1–3,1,3,away team win,0,1,0
953,954,WC-2022,2022 FIFA World Cup,M-2022-54,Brazil v South Korea,round of 16,not applicable,0,1,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
954,955,WC-2022,2022 FIFA World Cup,M-2022-55,Morocco v Spain,round of 16,not applicable,0,1,0,...,0,1,1,3–0,3,0,home team win,1,0,0
955,956,WC-2022,2022 FIFA World Cup,M-2022-56,Portugal v Switzerland,round of 16,not applicable,0,1,0,...,-5,0,0,0-0,0,0,home team win,1,0,0
956,957,WC-2022,2022 FIFA World Cup,M-2022-57,Croatia v Brazil,quarter-finals,not applicable,0,1,0,...,0,1,1,4–2,4,2,home team win,1,0,0
957,958,WC-2022,2022 FIFA World Cup,M-2022-58,Netherlands v Argentina,quarter-finals,not applicable,0,1,0,...,0,1,1,3–4,3,4,away team win,0,1,0
958,959,WC-2022,2022 FIFA World Cup,M-2022-59,Morocco v Portugal,quarter-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
959,960,WC-2022,2022 FIFA World Cup,M-2022-60,England v France,quarter-finals,not applicable,0,1,0,...,1,0,0,0-0,0,0,away team win,0,1,0
960,961,WC-2022,2022 FIFA World Cup,M-2022-61,Argentina v Croatia,semi-finals,not applicable,0,1,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
961,962,WC-2022,2022 FIFA World Cup,M-2022-62,France v Morocco,semi-finals,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
962,963,WC-2022,2022 FIFA World Cup,M-2022-63,Croatia v Morocco,third-place match,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
963,964,WC-2022,2022 FIFA World Cup,M-2022-64,Argentina v France,final,not applicable,0,1,0,...,0,1,1,4–2,4,2,home team win,1,0,0

In [26]:
print(df3.shape)
df3.dtypes

(964, 37)

Key Id                        int64
Tournament Id                object
tournament Name              object
Match Id                     object
Match Name                   object
Stage Name                   object
Group Name                   object
Group Stage                   int64
Knockout Stage                int64
Replayed                      int64
Replay                        int64
Match Date                   object
Match Time                   object
Stadium Id                   object
Stadium Name                 object
City Name                    object
Country Name                 object
Home Team Id                 object
Home Team Name               object
Home Team Code               object
Away Team Id                 object
Away Team Name               object
Away Team Code               object
Score                        object
Home Team Score               int64
Away Team Score               int64
Home Team Score Margin        int64
Away Team Score Margin        int64
Extra Time                    int64
Penalty Shootout              int64
Score Penalties              object
Home Team Score Penalties     int64
Away Team Score Penalties     int64
Result                       object
Home Team Win                 int64
Away Team Win                 int64
Draw                          int64
dtype: object

In [25]:
df3.describe()
#Observations: away teams tend to win by smaller margins and lose by larger margins

,Key Id,Group Stage,Knockout Stage,Replayed,Replay,Home Team Score,Away Team Score,Home Team Score Margin,Away Team Score Margin,Extra Time,Penalty Shootout,Home Team Score Penalties,Away Team Score Penalties,Home Team Win,Away Team Win,Draw
count,964.00000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000
mean,482.50000,0.744813,0.255187,0.004149,0.004149,1.766598,1.054979,0.711618,-0.711618,0.075726,0.036307,0.121369,0.108921,0.565353,0.248963,0.185685
std,278.42713,0.436192,0.436192,0.064315,0.064315,1.601040,1.071720,1.925893,1.925893,0.264697,0.187150,0.665731,0.600764,0.495968,0.432637,0.389054
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,241.75000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,482.50000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,723.25000,1.000000,1.000000,0.000000,0.000000,3.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,964.00000,1.000000,1.000000,1.000000,1.000000,10.000000,7.000000,9.000000,7.000000,1.000000,1.000000,5.000000,5.000000,1.000000,1.000000,1.000000

In [28]:
df3.head() #first 5 rows

,Key Id,Tournament Id,tournament Name,Match Id,Match Name,Stage Name,Group Name,Group Stage,Knockout Stage,Replayed,...,Away Team Score Margin,Extra Time,Penalty Shootout,Score Penalties,Home Team Score Penalties,Away Team Score Penalties,Result,Home Team Win,Away Team Win,Draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0

In [29]:
df3.tail() #last 5 rows

,Key Id,Tournament Id,tournament Name,Match Id,Match Name,Stage Name,Group Name,Group Stage,Knockout Stage,Replayed,...,Away Team Score Margin,Extra Time,Penalty Shootout,Score Penalties,Home Team Score Penalties,Away Team Score Penalties,Result,Home Team Win,Away Team Win,Draw
959,960,WC-2022,2022 FIFA World Cup,M-2022-60,England v France,quarter-finals,not applicable,0,1,0,...,1,0,0,0-0,0,0,away team win,0,1,0
960,961,WC-2022,2022 FIFA World Cup,M-2022-61,Argentina v Croatia,semi-finals,not applicable,0,1,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
961,962,WC-2022,2022 FIFA World Cup,M-2022-62,France v Morocco,semi-finals,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
962,963,WC-2022,2022 FIFA World Cup,M-2022-63,Croatia v Morocco,third-place match,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
963,964,WC-2022,2022 FIFA World Cup,M-2022-64,Argentina v France,final,not applicable,0,1,0,...,0,1,1,4–2,4,2,home team win,1,0,0

In [31]:
df4
# 14 columns (all of them) and 60 rows (out of 7698) are visible in the preview

,airport_id,"""name""","""city""","""country""","""iata""","""icao""","""latitude""","""longitude""","""altitude""","""timezone""","""dst""","""timezone_name""","""type""","""source"""
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10.0,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10.0,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10.0,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10.0,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10.0,U,Pacific/Port_Moresby,airport,OurAirports
5,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006,19,10.0,U,Pacific/Port_Moresby,airport,OurAirports
6,7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999,112,-3.0,E,America/Godthab,airport,OurAirports
7,8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101,283,-3.0,E,America/Godthab,airport,OurAirports
8,9,Kangerlussuaq Airport,Sondrestrom,Greenland,SFJ,BGSF,67.012222,-50.711603,165,-3.0,E,America/Godthab,airport,OurAirports
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531197,-68.703201,251,-4.0,E,America/Thule,airport,OurAirports
10,11,Akureyri Airport,Akureyri,Iceland,AEY,BIAR,65.660004,-18.072701,6,0.0,N,Atlantic/Reykjavik,airport,OurAirports
11,12,Egilsstaðir Airport,Egilsstadir,Iceland,EGS,BIEG,65.283302,-14.401400,76,0.0,N,Atlantic/Reykjavik,airport,OurAirports
12,13,Hornafjörður Airport,Hofn,Iceland,HFN,BIHN,64.295601,-15.227200,24,0.0,N,Atlantic/Reykjavik,airport,OurAirports
13,14,Húsavík Airport,Husavik,Iceland,HZK,BIHU,65.952301,-17.426001,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
14,15,Ísafjörður Airport,Isafjordur,Iceland,IFJ,BIIS,66.058098,-23.135300,8,0.0,N,Atlantic/Reykjavik,airport,OurAirports
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985001,-22.605600,171,0.0,N,Atlantic/Reykjavik,airport,OurAirports
16,17,Patreksfjörður Airport,Patreksfjordur,Iceland,PFJ,BIPA,65.555801,-23.965000,11,0.0,N,Atlantic/Reykjavik,airport,OurAirports
17,18,Reykjavik Airport,Reykjavik,Iceland,RKV,BIRK,64.129997,-21.940599,48,0.0,N,Atlantic/Reykjavik,airport,OurAirports
18,19,Siglufjörður Airport,Siglufjordur,Iceland,SIJ,BISI,66.133301,-18.916700,10,0.0,N,Atlantic/Reykjavik,airport,OurAirports
19,20,Vestmannaeyjar Airport,Vestmannaeyjar,Iceland,VEY,BIVM,63.424301,-20.278900,326,0.0,N,Atlantic/Reykjavik,airport,OurAirports
20,21,Sault Ste Marie Airport,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509399,630,-5.0,A,America/Toronto,airport,OurAirports
21,22,Winnipeg / St. Andrews Airport,Winnipeg,Canada,NaN,CYAV,50.056400,-97.032501,760,-6.0,A,America/Winnipeg,airport,OurAirports
22,23,Halifax / CFB Shearwater Heliport,Halifax,Canada,NaN,CYAW,44.639702,-63.499401,144,-4.0,A,America/Halifax,airport,OurAirports
23,24,St. Anthony Airport,St. Anthony,Canada,YAY,CYAY,51.391899,-56.083099,108,-3.5,A,America/St_Johns,airport,OurAirports
24,25,Tofino / Long Beach Airport,Tofino,Canada,YAZ,CYAZ,49.079833,-125.775583,80,-8.0,A,America/Vancouver,airport,OurAirports
25,26,Kugaaruk Airport,Pelly Bay,Canada,YBB,CYBB,68.534401,-89.808098,56,-7.0,A,America/Edmonton,airport,OurAirports
26,27,Baie Comeau Airport,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204399,71,-5.0,A,America/Toronto,airport,OurAirports
27,28,CFB Bagotville,Bagotville,Canada,YBG,CYBG,48.330601,-70.996399,522,-5.0,A,America/Toronto,airport,OurAirports
28,29,Baker Lake Airport,Baker Lake,Canada,YBK,CYBK,64.298897,-96.077797,59,-6.0,A,America/Winnipeg,airport,OurAirports
29,30,Campbell River Airport,Campbell River,Canada,YBL,CYBL,49.950802,-125.271004,346,-8.0,A,America/Vancouver,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7668,13821,Gitega Airport,Gitega,Burundi,GID,HBBE,-3.417209,29.911308,5741,2.0,U,NaN,airport,OurAirports
7669,13829,Región de Murcia International Airport,Murcia,Spain,RMU,LEMI,37.803000,-1.125000,632,1.0,E,NaN,airport,OurAirports
7670,13830,Fazenda Kajussol Airport,Alta Floresta D'Oeste,Brazil,NaN,SJYD,-11.964722,-61.686668,636,-4.0,S,NaN,airport,OurAirports
7671,13880,Pelee Island Airport,Pelee,Canada,NaN,CYPT,41.780399,-82.678001,572,-5.0,A,NaN,airport,OurAirports
7672,13881,Costa Marques Airport,COSTA MARQUES,Brazil,CQS,SWCQ,-12.421100,-64.251602,555,-4.0,S,NaN,airport,OurAirports
7673,13891,Mangalore Airport,Mangalore,Australia,NaN,YMNG,-36.888302,145.184006,467,10.0,O,NaN,airport,OurAirports
7674,14086,San Isidro del General Airport,San Isidro,Costa Rica,NaN,MRSI,9.352620,-83.713097,2100,-6.0,N,NaN,airport,OurAirports
7675,14087,Zabrat Airport,Baku,Azerbaijan,ZXT,UBTT,40.495542,49.976807,36,NaN,NaN,NaN,airport,OurAirports
7676,14088,Bezmer Air Base,Yambol,Bulgaria,JAM,LBIA,42.454899,26.352200,509,NaN,NaN,NaN,airport,OurAirports
7677,14089,Osovtsy Air Base,Byaroza,Belarus,NaN,UMMO,52.556999,24.884001,0,NaN,NaN,NaN,airport,OurAirports
7678,14090,Yuanmou Air Base,Yuanmou,China,YUA,ZPYM,25.737499,101.882004,3810,NaN,NaN,NaN,airport,OurAirports
7679,14091,Changsha Datuopu Airport/AFB,Changsha,China,NaN,ZGCS,28.068899,112.958000,170,NaN,NaN,NaN,airport,OurAirports
7680,14092,Xingcheng Air Base,NaN,China,XEN,ZYXC,40.580299,120.697998,30,NaN,NaN,NaN,airport,OurAirports
7681,14093,Lefkoniko Airport,Geçitkale,Cyprus,GEC,LCGK,35.235947,33.724358,146,NaN,NaN,NaN,airport,OurAirports
7682,14095,Songwe Airport,Mbeya,Tanzania,MBI,HTGW,-8.919942,33.273981,4412,NaN,NaN,NaN,airport,OurAirports
7683,14096,Kalocsa/Foktő Airport,Kalocsa/Foktő,Hungary,NaN,LHKA,46.549613,18.942421,284,NaN,NaN,NaN,airport,OurAirports
7684,14097,Bilogai-Sugapa Airport,Sugapa-Papua Island,Indonesia,UGU,WABV,-3.739560,137.031998,7348,NaN,NaN,NaN,airport,OurAirports
7685,14098,Jakkur Aerodrome,Bengaluru,India,NaN,VOJK,13.076740,77.597645,3013,NaN,NaN,NaN,airport,OurAirports
7686,14099,Jalal-Abad Airport,Jalal-Abad,Kyrgyzstan,NaN,UAFJ,40.944401,72.977798,2591,NaN,NaN,NaN,airport,OurAirports
7687,14100,Ramon Airport,Eilat,Israel,ETM,LLER,29.723694,35.011416,288,NaN,NaN,NaN,airport,OurAirports
7688,14101,Rustaq Airport,Al Masna'ah,Oman,MNH,OORQ,23.640556,57.487500,349,NaN,NaN,NaN,airport,OurAirports
7689,14102,Laguindingan Airport,Cagayan de Oro City,Philippines,CGY,RPMY,8.612203,124.456496,190,NaN,NaN,NaN,airport,OurAirports
7690,14103,Kostomuksha Airport,Kostomuksha,Russia,NaN,ULPM,64.617996,30.687000,681,NaN,NaN,NaN,airport,OurAirports
7691,14104,Privolzhskiy Air Base,Astrakhan,Russia,NaN,XRAP,46.396000,47.893000,-66,NaN,NaN,NaN,airport,OurAirports
7692,14105,Kubinka Air Base,Kubinka,Russia,NaN,UUMB,55.611695,36.650002,614,NaN,NaN,NaN,airport,OurAirports
7693,14106,Rogachyovo Air Base,Belaya,Russia,NaN,ULDA,71.616699,52.478298,272,NaN,NaN,NaN,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,NaN,XIUW,51.849998,107.737999,1670,NaN,NaN,NaN,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,NaN,ULLK,58.625000,31.385000,85,NaN,NaN,NaN,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,NaN,NaN,NaN,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,NaN,UKDM,46.880001,35.305000,0,NaN,NaN,NaN,airport,OurAirports

In [32]:
print(df4.shape)
df4.dtypes

(7698, 14)

airport_id            int64
 "name"              object
 "city"              object
 "country"           object
 "iata"              object
 "icao"              object
 "latitude"         float64
 "longitude"        float64
 "altitude"           int64
 "timezone"         float64
 "dst"               object
 "timezone_name"     object
 "type"              object
 "source"            object
dtype: object

In [30]:
df4.describe()
#Observations: I am slightly surprised on the timezone values and would need to read further to figure out what the baseline is for this field

         airport_id   "latitude"   "longitude"    "altitude"   "timezone"
count   7698.000000  7698.000000   7698.000000   7698.000000  7345.000000
mean    5170.950117    25.808442     -1.390546   1015.873344     0.285303
std     3777.259930    28.404946     86.519162   1628.775132     5.716150
min        1.000000   -90.000000   -179.876999  -1266.000000   -12.000000
25%     1993.250000     6.907983    -78.974699     63.000000    -5.000000
50%     4068.000000    34.085701      6.375653    352.000000     1.000000
75%     7728.750000    47.239551     56.000599   1203.000000     4.000000
max    14110.000000    89.500000    179.951004  14472.000000    13.000000

In [ ]:
df4.head() #first 5 rows preview

In [ ]:
df4.tail() #last 5 rows preview

In [71]:
df2_revised = pd.read_csv('https://raw.githubusercontent.com/data602sps/datasetspractice/main/nba.csv',header=None)

In [72]:
df2_revised.head()
#left the header in the rows for easier rename

,0,1,2,3,4,5,6,7,8
0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
2,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [73]:
df2_mod = df2_revised.loc[1:,]
df2_mod.columns = df2_revised.iloc[0].tolist()

In [74]:
df2_mod.shape == df2.shape
df2_mod.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
2,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
5,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [75]:
df2_mod.loc[:,'Salary'] = df2_mod['Salary'].fillna(value=0)
df2_mod.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
1,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
2,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0
4,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
5,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0